<h1>Details of Feelings at <%= @feeling.created_at.to_time.strftime('%B %e, %Y at %l:%M %p') %></h1>


  <%= @feeling.scale %>, <%= @feeling.title %>
  <br>
  <%= @feeling.description %>
  
  <%= link_to 'Edit', edit_feeling_path( @feeling ) %>
  <%= link_to 'Delete', feeling_path( @feeling ), method: 'delete' %>
  
  <hr>
  <% @feeling.comments.each do |comment| %>
    <div>
      <strong>Reaction: </strong><br>
      <%= comment.title %><br>
      <strong>Comment: </strong><br>
      <%= comment.body %><br>
      <%= link_to 'Edit Comment', edit_feeling_comment_path( @feeling, comment ) %>
      <%= link_to 'Delete Comment', feeling_comment_path( @feeling, comment ), method: 'delete' %> <br>
    </div>
  <% end %>
  
  <hr>
  <%= link_to 'Comment', new_feeling_comment_path( @feeling ) %>
  
  <div>
    <%= render partial: 'comments/form', object: @feeling.comments %>
  </div>

