<h1>Details of Feelings at <%= @feeling.created_at.to_time.strftime('%B %e, %Y at %l:%M %p') %></h1>


  <%= @feeling.scale %>, <%= @feeling.title %>
  <br>
  <%= @feeling.description %>
  
  <%= link_to 'Edit', edit_feeling_path( @feeling ) %>
  <%= link_to 'Delete', feeling_path( @feeling ), method: 'delete' %>
