
<% if flash[:errors] %>
<strong>Uh oh! Did you forget something?</strong>
  <% flash[:errors].each do |e| %>
    <li><%= e %></li>
  <% end %>
<% end %>

<%= form_for @user, class: "form-horizontal" do |f| %>
<div class="form group">
<%= f.label :name %>
<%= f.text_field :name, class: "form-control" %>
</div>
<br>
<%= f.label :email %>
<%= f.text_field :email, class:"form-control" %>
<br>
<%= f.label :password %>
<%= f.password_field :password, class: "form-control" %>
<br>
<%= f.label :password_confirmation%>
<%= f.password_field :password_confirmation, class: "form-control" %>
<br>

<%= f.submit 'Sign Up', class:"btn btn-danger" %>



<% end %>