<%= link_to 'Edit Profile', edit_user_path( @user ) %>
|
<%= link_to 'Delete Profile', user_path( @user ), method: 'delete' %>

<h1><%= @user.name %>'s Feelings Log</h1>


<%= link_to 'How are you feeling today?', new_feeling_path %>

<ul>
  <% @user.feelings.each do |feeling| %>

    <li>
      <strong><%= feeling.created_at.to_time.strftime('%B %e, %Y at %l:%M %p') %></strong>
      <br>
      <%= feeling.scale %>, <%= feeling.title %>
    </li>

  <% end %>
</ul>

